{% extends 'ems/base.html'%}

{% block content%}
{% include "ems/nav.html" %}

<div class="modal-content employee-list">    
    <div class="col-sm-12 mt-3">
        <div class="row alert alert-info d-flex justify-content-between align-items-center">
            <div class="col-6 d-flexjustify-content-between align-items-center row">
                <h4 class="text-center col-4">Employee Table  </h4>
                <div class="emplength rounded-circle bg-navy text-white col-1 d-flex justify-content-center align-items-center fs-3"> {{emplength}}</div>
            </div>

            <div class="col-4 d-flex align-items-center">
                <form action="" method="get" class="d-flex gap-2 align-items-center">
                    <input type="text" placeholder="Search Employee" class="p-2 rounded-4" name="query" id="query">
                    <input type="submit" class="p-2 rounded-4  btn bg-navy-view text-white" value="Search">
                    <a href="{% url 'emplist' %}"  class="p-2 rounded-4  btn bg-navy-view text-white"> Clear Search</a>
                </form>
            </div>
        </div>
        {% if emp %}
        <table class="table">
            <thead>
              <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date Of Birth</th>
                    <!-- <th scope="col">Date of Joining</th> -->
                    <th scope="col">Department</th>
                    <th scope="col">Post</th>
                    <!-- <th scope="col">Address</th> -->
                    <th scope="col">City</th>
                    <th scope="col">Country</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">State</th>
                    <th scope="col">Active</th>
                    <th scope="col">Leave Count</th>
                    <th scope="col">On Leave</th>
                    <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                
                {% for i in emp%}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td class="small"> {{i.name}}</td>
                    <td class="small"> {{i.dob}}</td>
                    <!-- <td class="small"> {{i.doj}}</td> -->
                    <td class="small"> {{i.dept}}</td>
                    <td class="small"> {{i.post}}</td>
                    <!-- <td class="small"> {{i.address}}</td> -->
                    <td class="small"> {{i.city}}</td>
                    <td class="small"> {{i.country}}</td>
                    <td class="small"> {{i.zip_code}}</td>
                    <td class="small"> {{i.state}}</td>
                    <td class="small"> {{i.active}}</td>
                    <td class="small"> {{i.leave}}</td>
                    <td class="small"> {{i.on_leave}}</td>
                    <td class="small d-flex gap-2"> 
                        <!-- <a href="{% url 'view_emp' i.id %}">view emp</a> -->
                        <form action="{% url 'view_emp' i.id %}" method="get" class="d-inline">
                            <!-- {% csrf_token %} -->
                           <input class="btn bg-navy text-white rounded-4 fw-semibold btn-edit btn-sm"  type="submit" value="View">
                        </form>
                        <form action="{% url 'update_data' i.id %}" method="get" class="d-inline">
                            <!-- {% csrf_token %} -->
                           <input class="btn bg-navy text-white rounded-4 fw-semibold btn-edit btn-sm"  type="submit" value="Edit">
                        </form>
                        <form action="{% url 'delete_data' i.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                           <input class="btn btn-danger rounded-4 btn-sm fw-semibold"   type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
               {% endfor %}
            </tbody>
          </table>
        {% else %}   
           <h4 class="text-center alert alert-warning">No Records</h4>
        {% endif %}
    
    </div>
</div>
{% include "ems/footer.html" %}
{% endblock content%}